input {
    @apply border-b border-opacity-50 outline-none bg-transparent text-white;

    &::placeholder {
        @apply text-white;
    }

    &:focus + #underline {
        @apply w-full;
    }
}

.input {
    @apply relative;

    &:hover {
        div:not(.noHover) {
            @apply w-1/3;
        }
    }
}
